DB_PASSWORD=change_me
DATABASE_URL=postgresql+asyncpg://etanetas:change_me@localhost:5432/etanetas_addresses_coverage
SPINTA_BASE_URL=https://get.data.gov.lt/datasets/gov/rc/ar
RC_GEOJSON_URL=https://www.registrucentras.lt/aduomenys/?byla=adr_gra_adresai_LT.zip

